.lineChart {
    padding: 0px;
    position: relative;
    width: 100%;
    flex: 1;
    // height: 100%;

    .noData {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

canvas {
    padding: 0px;
}