.Home {
    display: flex;
}

.InfoBoxRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.Map {
    padding: 5px 5px 0 5px;
}

.MainContent {
    flex: 80%;
}

.RightSideBar {
    flex: 20%;
    display: flex;
}