.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: 10px solid transparent;
    flex-direction: column;
    gap: 1.5em;
    flex: 1;
    // min-width: 260px;
    // min-height: 165px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .cardTitle {
        font-size: 1.3em;
    }

    .cardValue {
        font-size: 1.7em;
        font-weight: bold;

        &.cases {
            color: #5763e5
        }
        &.recovered {
            color: #49ef49;
        }
        &.deaths {
            color: #d32626;
        }
    }

    .cardSubvalue {
        font-size: 0.9em;
    }
}

@media (max-width: 660px) {
    .card {
        width: 100%;
    }
}